body{
	margin: 0;
	font-family: 'Poppins', sans-serif;
}

header .contenedor{
	display: flex;
	justify-content: space-between;
}

header ul{
	display: flex;

}

header ul li{
	list-style: none;
	margin-right: 15px;
}

a{
	text-decoration: none;
}

.contenedor{
	max-width: 1280px;
	width: 90%;
	margin: auto;
}

header{
	background: linear-gradient(rgba(84,93,220,.9),rgba(96,171,245,.9)),url(img/fondo.jpg);
	height: 100vh;
	background-size: cover;
}

#contenedor-titulo-flex{
	display: flex;
	justify-content: center;
	margin: 18vh 0;
}

h1{
	font-size: 60px;
	color: #fff;
	margin: 0;
}

h2{
	font-size: 25px;
	color: #fff;
	
}

.contenedor-titulo{
	text-align: center;
}

.contenedor-titulo a,
#sobre-mi a,
#blog a,
#que-esperas a,
#contacto input[type="submit"]{
	font-size: 14px;
	color: #fff;
	background: #5cb8ff;
	padding: 14px 24px;
	width: 128px;
	display: inline-block;
}

p.logo{
	color: #fff;
	font-size: 20px;
}

nav ul li a{
	color: #fff;
}

/* SOBRE MI*/

h3 {
	text-align: center;
	font-size: 55px;
	font-weight: normal;
}

#sobre-mi .contenedor-sobremi{
	display: flex;
	justify-content: space-around;
} 

#sobre-mi .texto{
	width: 42%;
}

/*SERVICIOS*/

.contenedor-servicios{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.servicio{
	width: 24%;
	padding: 34px 30px 38px 30px;
	border-radius: 10px;
	margin-bottom: 40px;
	position: relative;
}

.servicio h4{
	font-size: 30px;
	margin: 0;
}

.servicio p{
	margin-bottom: 20px;
	height: 194px;
}

.contenedor-servicios .violeta{
	/*background-image: linear-gradient(to up, #5055df, #6d68f3);*/
	background-image: linear-gradient(to top, #5055df, #6d68f3);
	box-shadow: 0 12px 30px 0 rgba(80,85,223,.37);
}

.contenedor-servicios .celeste{
	background-image: linear-gradient(to top, #40a8f9, #5cb8ff);
	box-shadow: 0 12px 30px 0 rgba(86,163,222,.3);
}

.ondas{
	position: absolute;
	left: 0;
	bottom: 0;
}

.icono{
	
	float: right;
	
}

/*MIS TRABAJOS*/

button.owl-prev, button.owl-next{
	font-size: 49px!important;
}

span{
	color: #63b8fb;
}

/*POR QUE TRABAJAR CONMIGO*/

.contenedor-trabajar{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#por-que-trabajar .item{
	width: 28%;
	text-align: center;
}

#por-que-trabajar ul li{
	list-style: none;
}

#por-que-trabajar ul li:nth-child(2){
	font-weight: bold;
	font-size: 19px;
	margin-top: 5px;
	margin-bottom: 20px;
}

#por-que-trabajar ul li:nth-child(3){
	line-height: 30px;
}

/*BLOG*/
#blog {
	background: #f9fafc;
}

#blog .contenedor-publicaciones{
	display: flex;
	justify-content: space-around;
}

#blog .publicacion{
	width: 30%;
	box-shadow: 1px 1px 14px #ccc;
}

#blog img{
	width: 100%;
}

#blog .contenido{
	background: #fff;
	padding: 20px;
}

#blog h4{
	font-size: 23px;
	margin: 0;
	margin-bottom: 15px;
}

#blog p{
	color: #5a6169;
	line-height: 24px;
	font-size: 16px;
}

#blog a{
	width: 80px;
}

/*QUE ESPERAS*/

#que-esperas{
	background: linear-gradient(rgba(84,93,220,.94),rgba(96,171,245,.9));
	text-align: center;
	padding: 50px 0;
	margin-top: 40px;
}

#que-esperas h3{
	font-size: 24px;
	color: #fff;
}

/*CONTACTO*/
#contacto form{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 70%;
	margin: auto;
}

input[type="text"],
input[type="email"]{
	width: 49%;
	margin-bottom: 15px;
	padding: 18px 0;
	border: 0;
	border-bottom: 1px solid #5cb8ff;
	font-size: 17px;
}

textarea{
	padding: 18px 0;
	border: 0;
	border-bottom: 1px solid #5cb8ff;
	font-size: 17px;
	margin-bottom: 40px;
	width: 100%;
}

#contacto input[type="submit"]{
	width: 166px;
	margin: auto;
	border: none;
	cursor: pointer;
	
}

#contacto textarea{
	font-family: 'Poppins', sans-serif;
}

/*Contacto*/
.contacto-info{
	display: flex;
	justify-content: space-around;
	margin-top: 60px;
}

.contacto-info img{
	width: 28px;
	vertical-align: middle;
	margin-right: 10px;
}

footer{
	background: #2f2f2f;
	padding: 40px 0;
	text-align: center;
	margin-top: 40px;
}

footer .contenedor{
	display: flex;
	justify-content: center;
	flex-direction: column;
}

footer img{
	margin: 0 40px;
	transform: rotate(0);
	transition: 0.4s;
}

footer img:hover{
	transform: rotate(360deg);
	transition: 0.6s;
}

footer p{
	color: #fff;
	font-size: 18px;
}

#whatsapp{
	position: fixed;
	top: 80%;
	right: 1%;
}

html{
	scroll-behavior: smooth;
}

#sobre-mi, #servicios, #blog, #mis-trabajos,
#por-que-trabajar, #contacto{
	padding: 90px 0;
}

@media (max-width: 800px) {
	header{
		height: 20vh;
	}
}